<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <!-- T*T -- template name -->
  <section class="template__name">
    <div class="container">
      <p class="view">
        <%= templateName %>
      </p>
    </div>
  </section>


  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <%- include('./includes/modal') %>
    </section>


    <!-- MK -- #inbar -->
    <section>
      <%- include('./includes/inbar') %>
    </section>
    <!-- T*T -->

    <!-- BREADCRUMB -->
    <section>
      <div class="container">
        <ul class="brd__list">
          <li><a class="brd__link" href="/">Accueil</a><span> / </span></li>
          <li><a class="brd__link" href="<%= genderPath %>">
              <%= gender %>
            </a><span> / </span></li>
          <li><a class="brd__link txtor">
              <%= categoryName %>
            </a></li>
        </ul>

      </div>
    </section>

    <section class="my2">
      <div class="container">

        <h2>
          <%= categoryName %>
        </h2>

      </div>

    </section>



    <p class="vst">#catWrapper (#mainFilters + #showProducts)</p>

    <section id="catWrapper">

      <!-- MK -- MAIN FILTERS -->
      <div id="mainFilters" class="">



        <h4>ORDRE</h4>
        <select name="filterOrder" id="filterOrder" style="width: 50%; font-size: .75rem; padding: 0;">
          <option value="priceDesc">prix : décroissant</option>
          <option value="priceAsc">prix : croissant</option>
          <option value="noteDesc" selected>note : décroissant</option>
          <option value="noteAsc">note : croissant</option>
        </select>





        <!-- PRIX -->
        <div class="fil__wrapper">

          <input class="fil__input--hidden" type="checkbox" id="tab-1" name="tabs">

          <!-- label -->
          <label class="fil__label" for="tab-1">
            <p class="fil__label__title">Prix</p>
            <div class="fil__label__cross"></div>
          </label>

          <!-- content -->
          <div class="fil__content">

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices0" type="checkbox" data-pricerange="0">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices0">0 - 20 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices1" type="checkbox" data-pricerange="1">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices1">20 - 45 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices2" type="checkbox" data-pricerange="2">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices2">45 - 75 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices3" type="checkbox" data-pricerange="3">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices3">75 - 100 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices4" type="checkbox" data-pricerange="4">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices4">100 - 125 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices5" type="checkbox" data-pricerange="5">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices5">125 - 160 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices6" type="checkbox" data-pricerange="6">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices6">160 - 200 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices7" type="checkbox" data-pricerange="7">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices7">200 - 300 €</label>
            </div>

            <div class="fil__check__line">
              <input class="fil__input--secondary checkPrices" id="checkPrices8" type="checkbox" data-pricerange="8">
              <label class="fil__label--secondary priceRangeSpan" for="checkPrices8">300 - 600 €</label>
            </div>

          </div>

        </div>


        <!-- A*A -- #filterBrands -->
        <div class="fil__wrapper">
          <input class="fil__input--hidden" type="checkbox" id="tab-2" name="tabs">

          <!-- label -->
          <label class="fil__label" for="tab-2">
            <p class="fil__label__title">Marque</p>
            <div class="fil__label__cross"></div>
          </label>

          <!-- content -->
          <div class="fil__content" id="filterBrands">
          </div>
        </div>



        <!-- A*A -- #filterColors -->
        <div class="fil__wrapper">
          <input class="fil__input--hidden" type="checkbox" id="tab-3" name="tabs">

          <!-- label -->
          <label class="fil__label" for="tab-3">
            <p class="fil__label__title">Couleur</p>
            <div class="fil__label__cross"></div>
          </label>

          <!-- content -->
          <div class="fil__content" id="filterColors">
          </div>
        </div>



        <!-- A*A -- #filterSizes -->
        <div class="fil__wrapper">
          <input class="fil__input--hidden" type="checkbox" id="tab-4" name="tabs">

          <!-- label -->
          <label class="fil__label" for="tab-4">
            <p class="fil__label__title">Taille</p>
            <div class="fil__label__cross"></div>
          </label>

          <!-- content -->
          <div class="fil__content" id="filterSizes">
          </div>
        </div>

        <button id="resetFilters" class="btn">réinitialiser les filtres</button>

      </div>

      </div>


      <!-- A*A -- affichage produits -->
      <div id="showProducts"></div>




    </section>




    <section class="my2">


    </section>





    <!-- LOG -- temporary TEST BUTTON -->
    <section class="dnn">
      <div class="container">
        <button id="testBtn" class="btn btn--xl" data-message="vous avez cliqué sur la page de catégorie">TEST</button>
      </div>
    </section>


  </main>

  <section id="jsList">
    <div class="container">
      <small>scripts utilisés sur cette page :</small>
      <ul>
        <li>utils.js</li>
        <li>main.js</li>
        <li class="txtor">category_handler.js</li>
        <li class="txtor">category_filters.js</li>
      </ul>
    </div>
  </section>

  <!-- T*T -- FOOTER -->
  <%- include('./includes/footer') %>



    <%- include('./includes/scriptlist') %>
      <script src="/js/category_handler.js"></script>
      <script src="/js/category_filters.js"></script>
</body>

</html>