<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <div class="container">
        <ul class="brd__list">
          <li><a class="brd__link" href="/">Accueil</a><span> / </span></li>
          <li><a class="brd__link" href="<%= genderPath %>"><%= gender %></a><span> / </span></li>
          <li><a class="brd__link" href="/category/<%= product.p_catId %>"><%= product.p_categ.charAt(0).toUpperCase() + product.p_categ.slice(1) %></a><span> / </span></li>
          <li><a class="brd__link txtor"><%= product.p_name %></a></li>
        </ul>

      </div>
    </section>

<!-- product.p_categ.charAt(0).toUpperCase() + product.p_categ.charAt(0).slice(1) -->


    <section>
      <div class="container">

        <h2 class="page__title">Détail</h2>

        <div class="two__col">

          <div class="two__col__half">

            <p>ID: <%= product.p_id %>
            </p>
            <p>cat : <%= product.p_categ %>
            </p>
            <p>subcat : <%= product.p_subcat %>
            </p>
            <p>marque : <span class="txtor">
                <%= product.p_brand %>
              </span></p>

            <p id="detailPageProductName"><span class="bigtext">
                <%= product.p_name %>
              </span></p>



            <img src="https://via.placeholder.com/200/dde2e9/f8f9fa?text=extra" alt="">

            <p class="txtbl">description : <%= product.p_desc %>
            </p>

            <p>promo : <%= product.p_sales %>
            </p>
            <p>réduction : <span class="badge">
                <%= product.p_disc %>%
              </span>
            </p>

            <% if (product.p_disc) { %>
              <h2><span class="price--erased">
                  <%= product.p_price %> €</span> <span class="price--def">
                  <%= product.p_price_def %> €
                </span></h2>
              <% } else { %>
                <h2><span class="price--def">
                    <%= product.p_price %> €
                  </span></h2>
                <% } %>


          </div>


          <div class="two__col__half">

            <p class="pch--func"><i class="ph-wrench"></i>choix couleurs</p>
            <ul style="display: flex; gap: 1rem;">
              <% for (const color of colors) { %>
                <li data-color-id="<%= color.col_id %>">
                  <%= color.col_name %>
                </li>
                <% } %>
            </ul>

            <p class="pch--func"><i class="ph-wrench"></i>choix tailles</p>
            <ul style="display: flex; gap: 1rem;">
              <% for (const size of sizes) { %>
                <li data-size-id="<%= size.siz_id %>">
                  <%= size.siz_name %>
                </li>
                <% } %>
            </ul>

            <p>note : <%= product.p_rating %>
            </p>
            <p>nb de commentaires : <%= product.p_revcount %>
            </p>

            <p>code : <%= product.p_code %>
            </p>

            <p class="pch--display"><i class="ph-eye"></i>features...</p>

            <p class="pch--func"><i class="ph-wrench"></i>choix quantité</p>

            <p class="txtgr"><i class="ph-truck"></i> Livraison gratuite</p>
            <p class="txtgr"><i class="ph-package"></i> Retours gratuits</p>

            <button class="btn">Ajouter au panier</button>


          </div>

        </div>


      </div>
    </section>

  </main>

  <footer>
    <div class="container">
      <small>scripts utilisés sur cette page :</small>
      <ul>
        <li>utils.js</li>
        <li>main.js</li>
      </ul>
    </div>
  </footer>


  <%- include('./includes/scriptlist') %>
</body>

</html>