<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <div class="container">
        <%- include('./includes/breadcrumb') %>
      </div>
    </section>

    <section>
      <div class="container">

        <h2 class="page__title">Détail</h2>

        <div class="two__col">

          <div class="two__col__half">

            <p id="detailPageProductName"><span class="bigtext">
                <%= product.p_name %>
              </span></p>

            <p>ID: <%= product.p_id %>
            </p>
            <p>catégorie : <%= product.p_categ %>
            </p>
            <p>sous-catégorie : <%= product.p_subcat %>
            </p>
            <p>marque : <span class="txtor">
                <%= product.p_brand %>
              </span></p>


            <img src="https://via.placeholder.com/200/dde2e9/f8f9fa?text=extra" alt="">

            <p class="txtbl">description : <%= product.p_desc %>
            </p>

            <p>promo : <%= product.p_sales %>
            </p>
            <p>réduction : <span class="badge">
                <%= product.p_disc %>%
              </span>
            </p>

            <p>prix : <%= product.p_price %>
            </p>

            <p>prix réduit : <%= (product.p_price - (product.p_price*(product.p_disc/100))).toFixed(2) %></p>


          </div>


          <div class="two__col__half">

            <p class="pch--func"><i class="ph-wrench"></i>choix couleurs</p>
            <ul>
              <% for (const color of colors) { %>
                <li data-color-id="<%= color.col_id %>"><%= color.col_name %></li>
              <% } %>
            </ul>

            <p class="pch--func"><i class="ph-wrench"></i>choix tailles</p>
            <ul>
              <% for (const size of sizes) { %>
                <li data-size-id="<%= size.siz_id %>"><%= size.siz_name %></li>
              <% } %>
            </ul>

            <p>note : <%= product.p_rating %>
            </p>
            <p>nb de commentaires : <%= product.p_revcount %>
            </p>

            <p>code : <%= product.p_code %>
            </p>

            <p class="pch--display"><i class="ph-eye"></i>features...</p>

            <p class="pch--func"><i class="ph-wrench"></i>choix quantité</p>

            <button class="btn">Ajouter au panier</button>


          </div>

        </div>


      </div>
    </section>

  </main>

  <footer>
    <div class="container">
      <small>scripts utilisés sur cette page :</small>
      <ul>
        <li>utils.js</li>
        <li>breadcrumb.js</li>
      </ul>
    </div>
  </footer>


  <%- include('./includes/scriptlist') %>
</body>

</html>