<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

    <!-- T*T -- template name -->
    <section class="template__name dnn">
      <div class="container">
        <p class="view">
          <%= templateName %>
        </p>
      </div>
    </section>
  
  <!-- T*T -- HEADER -->
  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <%- include('./includes/modal') %>
    </section>

    <!-- MK -- INBAR -->
    <section>
      <%- include('./includes/inbar') %>
    </section>

    <!-- MK -- BREADCRUMB -->
    <p class="vst">breadcrumb</p>
    <section id="breadcrumb">
      <div class="container">
        <ul class="brd__list ls-none pm0">
          <li><a class="brd__link" href="/">Accueil</a><span> / </span></li>
          <li><a class="brd__link txtor">
              <%= gender %>
            </a></li>
        </ul>
      </div>
    </section>

    <!--
    <p class="notes">
      Au chargement de cette page on effectue 2 requêtes pour récupérer :<br>
      - la liste des catégories<br>
      - la liste des articles en promotion (pour alimenter le carrousel)
    </p>

    <p class="notes">
      En arrière plan le fetch récupère un array d'objets avec TOUS les produits correspondants au GENRE CHOISI + UNISEX.<br>
    </p>

    <p class="notes">
      D'ici on peut poursuivre en choisissant :<br>
      - [1] UNE ou [2] TOUTES les catégories / ou [3] la catégorie spéciale "SOLDES"<br>
      - [4] UN produit en promotion
    </p>
    -->



    <!-- T*T -- CAROUSEL -->

    <p class="vst">#promoDisplay</p>

    <section id="promoDisplay" class="">

      <div id="promoCarousel" class="carousel promo__half">
        <%- include('./includes/carousel') %>
      </div>


      <div id="promoInfo" class="promo__half">

        <% for (const promo of promos) { const currOption=promo.a_order===1 ? 'current-info' : '' ; const
          priceDef=(promo.p_price - (promo.p_price*(promo.p_disc/100))).toFixed(2); const dnnOption=promo.a_order===1
          ? '' : 'dnn' ; %>

          <article class="advertItem <%= currOption %> <%= dnnOption %>">

            <div class="stripe--top">
              <p>
                <%= promo.p_categ %> / <%= promo.p_brand %>
              </p>
            </div>


            <div class="stripe--mid">
              <h2 class="adv__name">
                <%= promo.p_name %>
              </h2>
              <p>
                <%= promo.p_desc %>
              </p>

              <!-- PRICE -->
              <p class="adv__price">
                <span class="adv__price--def">
                  <%= priceDef %> €
                </span>
                <span class="adv__price--erased">
                  <%= promo.p_price %> €
                </span>

              </p>

            </div>


            <div class="stripe--bot">
              <a class="btn btn--dark" href="/detail/<%= promo.p_id %>">Voir le produit</a>
            </div>



          </article>
          <% } %>

      </div>

    </section>

  </main>




  <p class="vst">#jsList</p>

  <section id="jsList">
    <div class="container">
      <small>scripts utilisés sur cette page :</small>
      <ul style="list-style: square">
        <li>utils.js</li>
        <li>main.js</li>
        <li class="txtor">carousel.js</li>
      </ul>
    </div>
  </section>



  <!-- T*T -- FOOTER -->
  <%- include('./includes/footer') %>


    <%- include('./includes/scriptlist') %>
      <script src="/js/carousel.js"></script>

</body>

</html>