<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
    <title>Extra</title>
</head>

<body>

  <header>
    <%- include('./includes/header') %>
  </header>

  <main>

    <section>
      <%- include('./includes/modal') %>
    </section>

    <!-- .inbar -->
    <section>
      <div class="container">

        <%- include('./includes/inbar') %>

      </div>
    </section>
    
    <!-- BREADCRUMB -->
    <section>
      <div class="container">
        <ul class="brd__list">
          <li><a class="brd__link" href="/">Accueil</a><span> / </span></li>
          <li><a class="brd__link txtor"><%= gender %></a></li>
        </ul>
      </div>
    </section>

    <!-- PAGE TITLE -->
    <section>
      <div class="container">

        <!--
        <p class="notes">
          Au chargement de cette page on effectue 2 requêtes pour récupérer :<br>
          - la liste des catégories<br>
          - la liste des articles en promotion (pour alimenter le carrousel)
        </p>

        <p class="notes">
          En arrière plan le fetch récupère un array d'objets avec TOUS les produits correspondants au GENRE CHOISI + UNISEX.<br>
          On initialise localStorage avec les clés '.gender' ('M' / 'W') et '.products'.
        </p>

        <p class="notes">
          D'ici on peut poursuivre en choisissant :<br>
          - [1] UNE ou [2] TOUTES les catégories / ou [3] la catégorie spéciale "SOLDES"<br>
          - [4] UN produit en promotion
        </p>
        -->

        <h2 class="">
          <%= gender %>
        </h2>


      </div>

    </section>




    <!-- PROMOS -->
    <section>
      <div class="container">

        <div class="two__col">

          <div class="two__col__half">
            <p class="pch--func">
              <i class="ph-wrench"></i>
              Carrousel
            </p>

            <div class="img__wrapper">
              <img src="https://via.placeholder.com/300/dde2e9/f8f9fa?text=carrousel" alt="placeholder image"
                style="max-width: 100%;">
            </div>



          </div>

          <div class="two__col__half">
            <h3>Promos</h3>
            <ul>
              <% for (const promo of promos) { %>
                <li>
                  <a href="/detail/<%= promo.p_id %>">
                    <%= promo.p_id %> (<%= promo.p_gender %>) <%= promo.p_categ %> / <%= promo.p_name %> / € <%= promo.p_price %>
                  </a>
                </li>
                <% } %>
            </ul>


          </div>
        </div>









      </div>
    </section>

  </main>

  <footer>
    <div class="container">
      <small>scripts utilisés sur cette page :</small>
      <ul>
        <li>utils.js</li>
        <li>main.js</li>
      </ul>
    </div>
  </footer>



  <%- include('./includes/scriptlist') %>
</body>

</html>