<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('./includes/head') %>
</head>

<body>
  <!-- T*T -- template name -->
  <section class="template__name dnn">
    <div class="container">
      <p class="view">
        <%= templateName %>
      </p>
    </div>

  </section>



<!-- T*T -- header -->
  <header>
    <%- include('./includes/header') %>

    
  </header>

  <main>

    <section>
      <%- include('./includes/modal') %>
    </section>

    <!-- <p class="vst">#discBanner</p> -->

    <!-- MK -- #discBanner -->
    <section id="discBanner" class="dnn">
      <p class="disc__banner__parag">10% de réduction avec le code 
        <span class="disc__banner__badge">HIVER21</span>
      </p>
    </section>

    <!-- A*A -- pas de breadcrumb sur cette page -->





    <!-- <p class="vst">#genderNav</p> -->

    <!-- MK -- #genderNav -->
    <section id="genderNav">
      <!-- TODO -- vérifier si besoin de data-gender dans h2 ??? -->

      <!-- WOM -->
      <article id="selectWom" class="gender__link block__link" data-href="/wom">
        <h2 class="gender__title" data-gender="wom">Femme</h2>
      </article>

      <!-- MAN -->
      <article id="selectMan" class="gender__link block__link" data-href="/man">
        <h2 class="gender__title" data-gender="man">Homme</h2>
      </article>

    </section>







    <!-- MK -- #newsLetter -->
    <p class="vst">#newsLetter</p>

    <section id="newsLetter" style="margin-top: 3rem;">
      <div class="container">

        <h2 class="pm0 alcent">Newsletter</h2>
        <p class="alcent">Inscrivez vous pour recevoir toutes nos offres de réduction.</p>

        <form id="newsLetterForm" class="" action="" method="" style="display: flex; margin: 2rem auto;">
          <input class="pm0" type="text">
          <button class="btn btn--accent" type="submit">
            <span class="newslett__btn__text--mob midtext">&gt;</span>
            <span class="newslett__btn__text--dsk">Inscription</span>
          </button>
        </form>

      </div>
    </section>


    <section id="jsList">
      <div class="container">
        <small>scripts utilisés sur cette page :</small>
        <ul>
          <li>utils.js</li>
          <li>main.js</li>
        </ul>
      </div>
    </section>

    <!-- attribution -->
    <%- include('./includes/attrib') %>

  </main>

<!-- T*T -- FOOTER -->
  <%- include('./includes/footer') %>

  <%- include('./includes/scriptlist') %>
</body>

</html>